<div>
  <div style="margin: 30px; border-style: dashed; border-color: blueviolet; padding: 15px;">
    <input type="text" #buscarM name="" id="" placeholder="Buscar pelicula">
    <button type="button" (click)="getMoviesName(buscarM)">Buscar</button>
  </div>
  
  <div *ngFor="let item of movies" style="margin: 20px; border: solid black; background-color: bisque;">
    <div style="margin: 10px;" (click)="getMovieFromID(item.id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img height="300px" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
    </div>
    <div style="margin: 10px;">
      <h1 style="margin: 5px;">  
        {{item.title}}
      </h1>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles de la pelicula</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >
          <h1>
            {{movieID.original_title}}
          </h1>
          <div class="card-body">
            <img height="300px" src="https://image.tmdb.org/t/p/original/{{movieID.poster_path}}" alt="">
            <p class="card-text">{{ movieID.overview }}</p>
            <p>Idioma: {{movieID.original_language}}</p>
            <p>generos:</p>
            <p *ngFor="let item of genres">
              {{item.name}}
            </p>
                
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin: 30px; border-style: dashed; border-color: blueviolet; padding: 15px;">
  <input type="text" #buscarA name="" id="" placeholder="Buscar actor">
  <button type="button" (click)="getActor(buscarA)">Buscar</button>
</div>

 
<div *ngFor="let item of actor" style="margin: 20px; border: solid black; background-color: bisque;">
  
 
   <p>{{item.gender}}</p> 
    <!-- <div style="margin: 10px;">
      <img height="300px" src="https://image.tmdb.org/t/p/original/{{item.known_for.poster_path}}" alt="">
    </div>
    <div style="margin: 10px;">
      <h1 style="margin: 5px;">  
        {{item.known_for.original_title}}
      </h1>
    </div> -->
  
</div>




